<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Contact us</p>

    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

    <label>Subject</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Feature request</option>

    </select>

    <div class="form-group mb-4">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>

    <button class="btn btn-success btn-block" type="submit">Send</button>

</form>