
<h1>Privacy</h1>

<div>
	<h1>We’re committed to protecting your data.</h1>
	<p>Our products and features include innovative privacy technologies and techniques designed to minimize how much of your data we&nbsp;— or anyone else — can access. And powerful security features help prevent anyone except you from being able to access your information. We are constantly working on new ways to keep your personal information&nbsp;safe.</p>
</div>
